#page-home{
    height: 100vh;

    background: url('../styles/assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;
    /* vai deixar 100  a altura da caixa e da imagem e depois vai jogar a imagem para baixo */

}

#page-home .content {
    width: 90%;  /* dependendo do tamanho da pagina ele somente irá pegar 90% do tamanho total que está aparecendo  largura */
    max-width: 1100px; /* passou dos 1100 px, a caixa não cresce mais largura */ 
    height: 100%; /* alturar */

    margin: 0 auto; /*  vai dexar as margens em cima e de baixo 0 e preenchear as laterias com as que sobram */ 

    display: flex;
    flex-direction: column;
}


#page-home header {

    margin-top: 48px;

    display: flex; /*  Deixar as boxes uma do lado da outra */ 
    align-items: center; /*  alinhar os intens desse elemento */
    justify-content: space-between; /* justificar os elementos para a direita e outro para esquerda */
}

#page-home header a{
    display: flex;

    color: var(--title-color);
    font-weight: 700;

    
}

#page-home header a span {
    margin-right: 16px;
    display: flex;
    
    background-image: url(../styles/assets/log-in.svg);

  
    width: 20px;
    height: 20px;
}
 
#page-home main {
    max-width: 560px;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1{
    font-size: 54px;

}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;

}

#page-home main a{
    width: 100%;
    max-width: 360px;
    height:72px ;

    border-radius: 8px ; /* arrendodameneto de bordas*/


    background-color: var(--primary-color);
     
    /* alinhamento (dentro da caixa)*/
    display: flex;
    align-items: center;

    transition: 400ms; 


}

#page-home main a:hover {
    background-color: #2fb86e;

    /* hover quando passar o mouse por cima ele fará a aplicação do objeto */
}

#page-home main a span{
    width: 72px;
    height: 72px;

    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px; 

    background-color: rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;
}

/*  pseudo elementos, elementos que criamos no css, mas não tem no html */

#page-home main a span::after {
    content: "";
    background-image: url('../styles/assets/search.svg');

    width: 20px;
    height: 20px;

    /* Esse elemento estará dentro da boxe, é a imagem da lupa pequena que está centralizada */ 
}
#page-home main a strong {
    flex:1;
    color: white;

    text-align: center;
}